.cityForm {
  width: 500px;
  margin: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}

.homePage {
  display: flex;
}

.forecastData {
  margin: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}

.currentCityForecast {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}

.fiveDayForecast {
  display: flex;
}

.fiveDayForecastItem {
  margin: 30px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
